.yellow-btn{
    background-color: #F9A51A !important;
    border-color: none;
    color: black !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
}

.header{
    color: white !important;
    margin-bottom: 100px;
}

